// ===================== HEADING PRIMARY ================================
.heading-primary {
	font-size: $fs-h1;
	font-weight: 600;
	text-align: center;
	line-height: 1.2;
	letter-spacing: 0.2rem;
	text-transform: uppercase;

  & > span {
    color: $clr-primary;
  }

	@media screen and (min-width: $bp-medium) {
		font-size: $fs-medium;
	}

	&--blue {
		color: $clr-primary;
	}
}

// ===================== COUNTER ========================================
.counter {
	position: relative;
  display: grid;
  grid-template-rows: 3rem 15rem 2fr;
	padding: 2rem;
	border-radius: 20px;
	box-shadow: $shadow-dk;
	background-color: $clr-grey-2;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
    padding: .4rem;
		border: none;
    border-radius: 2px;
		background-color: $clr-grey-2;
		font-size: $fs-default;
		font-weight: 600;
		letter-spacing: 0.1rem;
		color: $clr-white;

		&:focus {
			outline: 2px solid $clr-grey-3;
		}
	}

	&__link {
		@include flex-center;

		height: 2.7rem;
		width: 2.7rem;
		border: none;
		background-color: transparent;
		cursor: pointer;
		transition: all 0.2s;

		&:hover .counter__icon {
			fill: $clr-grey-4;
		}
	}

	&__icon {
		height: 2.2rem;
		width: 2.2rem;
		fill: $clr-grey-3;
	}

	&__value {
		@include flex-center-vert;
    
    justify-content: center;
	}

	&__number {
		margin-left: auto;
		margin-right: auto;
		font-size: $fs-biggest;
		font-weight: 600;
    line-height: 1;
		color: $clr-primary;

		&--small {
			font-size: $fs-big;
		}

		&--red {
			color: $clr-red;
		}
	}

	&__goal {
		display: none;
		margin-top: 22%;
		font-size: $fs-small;
		color: $clr-grey-3;

		&--small {
      margin-top: 16%;
			font-size: $fs-smallest;
		}
	}

	&__buttons {
		display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 9.5rem 10rem;
	}

	&__btn--primary {
		@include flex-center;

		padding: 2rem 0;
		border: 2px solid currentColor;
		background-color: transparent;
		color: $clr-grey-3;
		transition: all 0.1s;
		cursor: pointer;

		&:nth-of-type(1) {
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}

		&:nth-of-type(2) {
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		&:hover {
			color: $clr-grey-4;
		}
	}

	&__btn-icon {
		height: 5rem;
		width: 5rem;
		fill: currentColor;
		pointer-events: none;
	}

	&__btn--secondary {
    grid-column: span 2;
		margin: 4rem auto 1rem auto;
		padding: 1rem 3rem;
		border: 2px solid currentColor;
		border-radius: 50px;
		box-shadow: $shadow-dk;
		background-color: $clr-grey-2;
		font-size: $fs-smallest;
		font-weight: 600;
		color: $clr-grey-4;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			border: 2px solid $clr-grey-4;
			background-color: $clr-grey-4;
			color: $clr-grey-1;
		}
	}
}

// ===================== POPUP ==========================================
.popup {
	@include flex-center;
  @include full-scr-fixed;

	background-color: $clr-dk-transparent;

	&--hidden {
		display: none;
	}

	&__content {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 90vw;
		max-width: 576px;
		padding: 2rem;
		border-radius: 20px;
		background-color: $clr-grey-4;
	}

	&__icon-container {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	&__icon {
		height: 4rem;
		width: 4rem;
		fill: $clr-grey-3;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			fill: $clr-grey-2;
		}
	}

	&__text {
		margin: 5rem auto;
		font-size: $fs-small;
    font-weight: 600;
		text-transform: uppercase;
		color: $clr-primary;

		@media screen and (min-width: $bp-small) {
			font-size: $fs-medium;
		}
	}
}

// ===================== FORM ===========================================
.form {
	@include flex-center-column;

	&__input {
		padding: 1rem;
		max-width: 17rem;
		border: none;
		border-radius: 20px;
		background-color: $clr-white;
		font-size: $fs-medium;
		font-weight: 600;
		color: $clr-grey-1;
    

		@media screen and (min-width: $bp-small) {
			max-width: 21rem;
			padding: 1.5rem;
		}

		&:focus {
			outline: 2px solid $clr-primary;
		}
	}

	&__button {
		margin: 3rem auto 1rem;
		padding: 1.1rem 5rem;
		border: none;
		border-radius: 30px;
		background-color: $clr-primary;
		font-size: $fs-smallest;
		font-weight: 600;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		color: $clr-white;
		cursor: pointer;
		transition: all 0.2s;

		@media screen and (min-width: $bp-small) {
			padding: 1.5rem 6rem;
			font-size: $fs-small;
		}

		&:hover {
			background-color: $clr-primary-dk;
		}
	}
}

// ===================== OPTIONS ========================================
.nav {
	position: absolute;
	top: 12%;
	right: 2%;
	z-index: 3000;
	display: none;
	padding: 0.5rem 0;
	border-radius: 7px;
  box-shadow: $shadow-lt;
	background-color: $clr-white;

	&__list {
		list-style: none;
	}

	&__button {
		display: block;
		height: 100%;
		width: 100%;
		padding: 0.3rem 1rem;
		border: none;
		background-color: transparent;
		font-family: inherit;
		font-size: $fs-default;
		text-decoration: none;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			background-color: $clr-grey-5;
			color: $clr-grey-1;
		}
	}
}

.overlay {
	@include full-scr-fixed;

	&--hidden {
		display: none;
	}
}
